<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../../partials/header") %>

  <h1>Membros</h1>

<ul>
  <% membros.forEach(m => { %>
    <li>
      <a href="/membros/<%= m.slug %>">
        <strong><%= m.nome %></strong> - <%= m.eixo %> - <%= m.time %>
      </a>
    </li>
  <% }) %>
</ul>


</body>
</html>

