<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1>Projetos</h1>

<h2>Projetos Ativos</h2>
<ul>
  <% ativos.forEach(p => { %>
    <li>
      <a href="/projetos/<%= p.id %>">
        <strong><%= p.nome %></strong>
      </a>
    </li>
  <% }) %>
</ul>

<h2>Projetos Arquivados</h2>
<ul>
  <% arquivados.forEach(p => { %>
    <li>
      <a href="/projetos/<%= p.id %>">
        <strong><%= p.nome %></strong>
      </a>
    </li>
  <% }) %>
</ul>

<h2>Projetos Finalizados</h2>
<ul>
  <% finalizados.forEach(p => { %>
    <li>
      <a href="/projetos/<%= p.id %>">
        <strong><%= p.nome %></strong>
      </a>
    </li>
  <% }) %>
</ul>

</body>
</html>




























