<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1><%= noticia.nome %></h1>

<p><strong>Descrição:</strong> <%= noticia.descricao%> </p>
<p><strong>Conteúdo:</strong> <%= noticia.conteudo %> </p>

<p><%= noticia.descricao %></p>
<a href="/noticias">Voltar</a>

</body>
</html>

