<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RAITec</title>
</head>
<body>

  <%- include("../partials/header") %>

  <h1><%= raipedia.nome %></h1>

<p><strong>Descrição:</strong> <%= raipedia.descricao%> </p>
<p><strong>Conteúdo:</strong> <%= raipedia.conteudo %> </p>

<p><%= raipedia.descricao %></p>
<a href="/raipedia">Voltar</a>

</body>
</html>

